<h1 mat-dialog-title>Estacionamiento</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Codigo Estacionamiento</mat-label>
    <input matInput [(ngModel)]="estacionamiento.codEstacionamiento">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nivel</mat-label>
    <input matInput [(ngModel)]="estacionamiento.nivel">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tipo Estacionamiento</mat-label>
    <input matInput [(ngModel)]="estacionamiento.tipoEstacionamiento">
  </mat-form-field>
  


</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="save()" cdkFocusInitial>Ok</button>
</div>