<h1 style="text-align: center;">LISTA DE ROLES</h1>
<button (click)="nuevo()" class="btn btn-warning">Agregar</button>
<br><br>
<table class="container">
    <thead>
        <tr>
            <th style="border: 1px solid darkgray; text-align: center;">Codigo</th>
            <th style="border: 1px solid darkgray; text-align: center;">ROLE</th>
            <th style="border: 1px solid darkgray; text-align: center;">STATUS</th>
            <th style="border: 1px solid darkgray; text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rol of roles" style="border: 1px solid darkgray; text-align: center;">
            <td style="border: 1px solid darkgray;">{{rol.idRol}}</td>
            <td style="border: 1px solid darkgray;">{{rol.role}}</td>
            <td style="border: 1px solid darkgray;">{{rol.status}}</td>
            <td style="text-align: center;">
                <button (click)="editar(rol)" class="btn btn-warning">Editar</button>
                <button (click)="eliminar(rol)" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<br>