<div class="container col-md-6">
    <div class="card-header">
        <h3>Actualizar Vehiculos</h3>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Placa:</label>
                <input type="text" [(ngModel)]="regVehiculo.placa" name="placa" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Color:</label>
                <input type="text" [(ngModel)]="regVehiculo.color" name="color" class="form-control">
            </div>
            <button (click)="actualizar(regVehiculo)" class="btn btn-danger">Actualizar</button>
        </form>
    </div>
</div>