<div class="container col-md-6">
    <div class="card-header">
        <h3>Agregar Tipo de Vehiculos</h3>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">DESCRIPCION:</label>
                <input type="text" [(ngModel)]="regTipoVehiculo.des_tipoVehiculo" name="des_tipoVehiculo" class="form-control">
            </div>
            <button (click)="guardar(regTipoVehiculo)" class="btn btn-danger">Guardar</button>
        </form>
    </div>
</div>