<h1 mat-dialog-title>Cliente</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Placa</mat-label>
    <input matInput [(ngModel)]="vehiculo.placa">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [(ngModel)]="vehiculo.color">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Vehiculo</mat-label>
    <mat-select [compareWith]="compareTipoVehiculo" placeholder="Tipo Vehiculo" [(ngModel)]="vehiculo.tipoVehiculoDTO">
      <mat-option *ngFor="let tveh of tvehiculo" [value]="tveh">
        {{ tveh.des_tipoVehiculo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <mat-select [compareWith]="compareMarcas" placeholder="Marca" [(ngModel)]="vehiculo.marcaDTO">
      <mat-option *ngFor="let marca of marcas" [value]="marca">
        {{ marca.des_marca }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  

</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="save()" cdkFocusInitial>Ok</button>
</div>