<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="clientes" class="nav-link">Clientes</a>
      </li>
      <li class="nav-item">
        <a routerLink="vehiculos" class="nav-link">Vehiculos</a>
      </li>
      <li class="nav-item">
        <a routerLink="tipoVehiculos" class="nav-link">Tipo Vehiculos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>