<div>
  <nav class="navbar navbar-expand navbar-dark" style="background:000;">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="clientes" class="nav-link" style="color:white">Clientes</a>
      </li>
      <li class="nav-item">
        <a routerLink="vehiculos" class="nav-link" style="color:white">Vehiculos</a>
      </li>
      <li class="nav-item">
        <a routerLink="tipoVehiculos" class="nav-link" style="color:white">Tipo Vehiculos</a>
      </li>
      <li class="nav-item">
        <a routerLink="marcas" class="nav-link" style="color:white">Marcas</a>
      </li>
      <li class="nav-item">
        <a routerLink="tipoDocumentos" class="nav-link" style="color:white">Tipo Documentos</a>
      </li>
      <li class="nav-item">
        <a routerLink="estacionamientos" class="nav-link" style="color:white">Estacionamientos</a>
      </li>
      <li class="nav-item">
        <a routerLink="roles" class="nav-link" style="color:white">Roles</a>
      </li>
      <li class="nav-item">
        <a routerLink="empleados" class="nav-link" style="color:white">Empleados</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>