<h1 style="text-align: center;">LISTA DE MARCAS DE AUTOS</h1>
<button (click)="nuevo()" class="btn btn-warning">Agregar</button>
<br><br>
<table class="container" style="width: 30%;">
    <thead>
        <tr>
            <th style="border: 1px solid darkgray; text-align: center;">Codigo</th>
            <th style="border: 1px solid darkgray; text-align: center;">Descripción</th>
            <th style="border: 1px solid darkgray; text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of marcas" style="border: 1px solid darkgray; text-align: center;">
            <td style="border: 1px solid darkgray;">{{marca.id}}</td>
            <td style="border: 1px solid darkgray;">{{marca.des_marca}}</td>
            <td style="text-align: center;">
                <button (click)="editar(marca)" class="btn btn-warning">Editar</button>
                <button (click)="eliminar(marca)" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<br>